.font {
  font-family: 'Black Ops One', cursive;
}

body {
  text-align: center;
}

canvas {
  position: absolute;
  top: 30%;
  left: 30%;
  border: solid;
}

#game-over {
  display: none;
}

#score {
  display: inline-block;
  position: absolute;
  top: 77%;
  left: 30%;
}
